@font-face {
   src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
   font-family: 'Nixie One';
}
/* General Styling */
a {
  color: black;
}

body {
  text-align: center;
}

/* .title-divider {
  margin-top: 0;
  margin-bottom: 0;
} */

/* Containers */


/* Sections */

.blue-section {
  /* background-color: #66BFBF; */
  /* background-color: #24AAA9; */
  background-color: #24A2A3;
}

.gray-section {
  background-color: #564e58;
  /* background-color: gray; */
}
.white-section {
  background-color: #fff;
}


/* ------------------------------------------------------------------------- */

/* Nav Bar */

button:focus {
   outline: none;
}

.menu-icon {
  /* color: #24A2A3; */
  /* color: #564e58; */
  color: black;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 45px;
  /* padding: 5px 0; */
}

.navbar {
  /* background-color: #66BFBF; */
  /* background-color: #24AAA9; */
  /* background-color: #24A2A3; */
  background-color: transparent;
  /* border-bottom: 1px solid;
  border-color: #564e58; */
  position: absolute;
  width: 100%;
  /* position: absolute;
  z-index: 1; */
  /* top: 0; */
}

/* .nav-button {
  background-color: black;
} */

.nav-item {
  text-align: right;
}

.navbar-toggler {
  background-color: #24A2A3;
  font-size: 2rem;
  padding: 0;
}
.navbar-toggler-icon .fas {
  display: flex;
}

/* Home Page */

.intro {
  padding: 20% 30%;
}

.intro-body {
  font-family: 'Nixie One';
}

.intro-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* About Me */

.bio {
  padding: 7% 0;
}

.headshot {
  width: 7%;
  border-radius: 100%;
  margin: 3% 0 1%;
  /* border: 1px solid; */
  /* border-color: #564e58; */
  /* border-color: #c3c3c3; */
  /* border-color: #949396; */
}

.who-am-i {
  padding: 1% 35%;
}

/* #about-me {
  position: relative;
  /* z-index: 0; */ /*
  padding: 20px 0;
} */

/* Experience */

.javascript {
  padding: 6px;
  background-color: #fff;
}

.html {
  padding: 4px;
  background-color: #fff;
}

.git {
  padding: 3px;
}

.tech {
  width: 75px;
  background-color: #fff;
  border: 1px solid;
  /* border-color: #219394; */
  border-color: #564e58;
  border-radius: 100%;
}

.tech-logo {
  margin: 5% 0;
}

.technologies {
  margin: 0 auto;
  padding: 0% 25% 5%;
}

.exp-text {
  padding: 3%;
}

/* Personal Projects */

#personal-projects {
  position: relative;
  padding: 20px 0;
}

.card {
  margin: 0 auto;
  width: 18rem;
}

.my-card-image {
  height: 22rem;
}

.project-col {
  padding: 15px;
}

.projects-container {
  text-align: center;
  padding: 5%;
}

.projects-text {
  padding: 5%;
  padding-top: 0%;
}

/* Skills/Link to Resume */

/* #skills {
    padding: 20px 0px;
} */

/* Hobbies */

#hobbies {
  padding: 20px 0;
}

/* Contact Me */

#contact-me {
  padding: 20px 0;
}

.bottom-section {
  padding: 5% 0;
}
.copyright {
  /* padding: 2% 0; */
}

.ft-icons {
  padding: 20px 20px 20px;
}

.contacts {

}
